/* Colors and fonts */
/* --- Import Components stylesheets --- */
@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/button.css");

  h1, h2, h3 {
    font-family: 'Roboto';
  }
  h1 {
    color: #575F7D;
    font-size: 40px;
    font-weight: 400;
  }
  h2 {
    color: #7ECE90;
    font-size: 20px;
    font-weight: lighter;
    font-weight: 500;
  }
  a {
    font-family: 'Roboto';
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 16px;
  }
  a:hover {
    color: rgb(83, 82, 82);
  }
  
  
  /**
 * Images a now responsive
 */
img {
	max-width: 100%;
	height: auto;
}

/**
 * Limit the container in
 * width for big screens
 */
.container {
	width: 960px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

/**
 * By using display: flex
 * Logo and nav are in 2 cols
 * align-items make them
 * vertically centered
 * justify-content distribute
 * horizontal spaces around
 * and flex-wrap break the
 * things in two lines in
 * small screens
 */
.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

/**
 * The followings are to
 * make things more
 * clean and airy
 * and contents centered
 */
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}